*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build.gradle
app/src/main/java/com/visualprogrammingclass/boncal/components/BoncalRoundedShape.kt
app/src/main/java/com/visualprogrammingclass/boncal/components/TheCarbonFootprintWidget.kt
app/src/main/java/com/visualprogrammingclass/boncal/helpers/statics.kt
app/src/main/java/com/visualprogrammingclass/boncal/repositories/EndPointRepository.kt
app/src/main/java/com/visualprogrammingclass/boncal/services/navigations/main/NarBarGraph.kt
app/src/main/java/com/visualprogrammingclass/boncal/viewModels/CalculateViewModel.kt
app/src/main/java/com/visualprogrammingclass/boncal/viewModels/CategoryViewModel.kt
app/src/main/java/com/visualprogrammingclass/boncal/viewModels/HomeViewModel.kt
app/src/main/java/com/visualprogrammingclass/boncal/viewModels/LoginViewModel.kt
app/src/main/java/com/visualprogrammingclass/boncal/viewModels/SplashViewModel.kt
app/src/main/java/com/visualprogrammingclass/boncal/views/CalculateScreen.kt
app/src/main/java/com/visualprogrammingclass/boncal/views/CategoryScreen.kt
app/src/main/java/com/visualprogrammingclass/boncal/views/HomeScreen.kt
app/src/main/java/com/visualprogrammingclass/boncal/views/LoginScreen.kt
app/src/main/java/com/visualprogrammingclass/boncal/views/RegisterScreen.kt
